#article-background {
  background-image: url("../../images/nutrition.png");
  background-size: 100%;
  border: 2px solid white;
}

.articleCard {
  width: 1150px;
  margin: 0 auto;
  margin-top: 10%;
  border: solid black;
  background-color: rgba(65, 165, 34, 0.95);
}

.articleCard:nth-child(2) {
  margin: 6% auto;
}

.articleCard > h1 {
  text-align: center;
  padding: 10px;
  margin: 1% 5%;
  font-size: 3em;
  text-shadow: 2px 2px green;
  color: orange;
}

.articleSummary {
  display: flex;
}

.articleSummary > img {
  flex: 1.7;
  height: 350px;
  margin: 0 0 30px 40px;
  border-radius: 0;
  border: 4px solid rgba(4, 155, 12);
}

.articleSummary p {
  flex: 1;
  font-size: 1.5em;
  font-family: "Playfair Display", serif;
  color: black;
  line-height: 1.4em;
  padding: 0 4%;
}

.articleSummary button {
  font-size: 0.9em;
  border-radius: 7%;
  margin: 4% 0 6% 0;
  background-color: green;
  border: 2px solid rgba(65, 165, 34, 0.664);
  height: 43px;
  width: 130px;
  display: block;
}

.articleSummary button:hover {
  transform: scale(1.1);
}

.articleSummary button a {
  text-decoration: none;
  color: white;
}

@media only screen and (max-width: 1300px) {
  .articleCard {
    width: 85vw;
  }

  .articleCard > h1 {
    font-size: 3.3vw;
  }

  .articleSummary > img {
    height: 320px;
    flex: 1.6;
  }

  .articleSummary p {
    font-size: 1.7vw;
  }

  .articleSummary button {
    font-size: 0.9em;
  }
}

@media only screen and (max-width: 1000px) {
  .articleCard {
    width: 90vw;
    margin-top: 13%;
  }

  .articleCard > h1 {
    font-size: 3.5vw;
  }

  .articleSummary > img {
    height: 290px;
    flex: 1.8;
  }

  .articleSummary p {
    font-size: 1.8vw;
  }

  .articleSummary button {
    font-size: 0.83em;
    height: 38px;
    width: 120px;
  }
}
