#personalInfo { 
    display: flex;
    background-color: rgba(65, 165, 34, 0.664);
}

img {
    border-radius: 100%;
    margin: 3%;
    flex: 0.4;
    width: 10vw;
    height: 160px;
}


.infoProfile {
    width: 80vw;
    margin: 20px auto;
}

.general {
    display: block;
}

.names {
    flex: 1;
}

input {
    width: 22vw;
    font-size: 1.1vw;
    padding: 8px;
    margin: 12px;
}

#healthTitle {
    margin-top: 40px;
}

#profile-background {
    height: 92vh;
    background-image: url("./profile-background.jpg");
    background-size: 100%;
    padding-top: 1%;
}

#loginForm h2 {
    text-align: center;
    font-size: 4vw;
    margin-top: 1%;
}

#loginForm {
    width: 38vw;
    border: 2px solid orange;
    margin: 2% auto;
    background-color: white;
    height: 500px;
    border-radius: 10%;
    background-color: orange;
}

#loginForm input {
    display: block;
    border-radius: 6%;
    margin: 5%;
}

#logo-image {
    width: 190px;
    height: 180px;
    display: block;
    margin: 0 auto;
    margin-top: 3%;
}

#loginForm button {
    width: 22.4vw;
    margin-left: 4%;
    margin-top: 4%;
    height: 30px;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 600;
    border-radius: 5%;
    background-color: green;
    border: 3px solid green;
    color: orange;
    text-shadow: 2px 2px rgba(65, 165, 34, 0.664);
}

#login-background {
    border: 2px solid green;
    height: 90vh;
    background-image: url("../nutrition.png");
  }