#home {
    border: 1px solid rgba(0, 0, 0, 0.397);
    height: 100vh;
    background-image: url("../../images/meEating.png");
    background-size: cover;
}

#intro {
    text-align: center;
    width: 48vw;
    margin: 22vh auto;
    padding: 5vw;
    background-color: rgba(65, 165, 34, 0.6);
}

#intro > h1 {
    font-size: 4.3vw;
    color: orange;
    text-shadow: 2px 2px black;
}

#intro > h3 {
    font-size: 1.7vw;
    color: orange;
    text-shadow: 2px 2px black;
}

#credit {
    position: fixed;
    bottom: 15px;
    left: 10px;
    font-size: 1.5vw;
    color: green;
    text-shadow: 1px 1px orange;
}
  
span {
    font-weight: 900;
}

@media screen and (max-width: 1200px) { 
    #home {
        background-image: url("../../images/meEating-medium.png");
    }

    #intro {
        width: 52vw;
        margin: 24vh auto;
    }

    #intro > h1 {
        font-size: 4.8vw;
    }
    
    #intro > h3 {
        font-size: 2.2vw;
    }

    #credit {
        font-size: 2vw;
    }
}