#home {
    border: 2px solid black;
    height: 100vh;
    background-image: url("../../images/meEating.png");
    background-size: cover;
}

#intro {
    text-align: center;
    margin: 14vh 23vw;
    padding: 5vw;
    background-color: rgba(65, 165, 34, 0.6);
}

#intro > h1 {
    font-size: 4.3vw;
    color: orange;
    text-shadow: 2px 2px black;
}

#intro > h3 {
    font-size: 1.7vw;
    color: orange;
    text-shadow: 2px 2px black;
}

#credit {
    position: fixed;
    bottom: 15px;
    left: 10px;
    font-size: 1.5vw;
    color: green;
    text-shadow: 1px 1px orange;
}

#food {
    display: block;
    width: 76vw;
    padding: 4%;
    font-size: 1.4vw;
    text-align: center;
    border: 2px solid green;
    color: orange;
    background-color: green;
}
  
span {
    font-weight: 900;
}