nav {
  display: flex;
  margin-right: 3vw;
  width: 100vw;
  background-color: rgba(3, 61, 3, 0.918);
  position: fixed;
}

nav li:hover {
  transform: scale(1.1);
  font-weight: bold;
}

li {
  display: inline-block;
  margin: 20px 2vw 2vw 10px;
  font-size: 1.3vw;
}

#brand {
  display: inline-block;
  justify-content: flex-start;
  flex: 1;
  margin-left: 2vw;
  font-size: 3.5vw;
  color: orange;
}


