nav {
  display: flex;
  margin-right: 3vw;
  width: 100vw;
  background-color: rgba(3, 61, 3, 0.918);
}

nav li:hover {
  transform: scale(1.1);
  font-weight: bold;
}

li {
  display: inline-block;
  margin: 20px 2vw 2vw 10px;
  font-size: 1.3vw;
}

#brand {
  display: inline-block;
  justify-content: flex-start;
  flex: 1;
  margin-left: 2vw;
  font-size: 3.5vw;
  color: orange;
}

#intro {
  text-align: center;
  margin: 14vh 23vw;
  padding: 5vw;
  background-color: rgba(65, 165, 34, 0.6);
}

#intro > h1 {
  font-size: 4.3vw;
  color: orange;
  text-shadow: 2px 2px black;
}

#intro > h3 {
  font-size: 1.7vw;
  color: orange;
  text-shadow: 2px 2px black;
}

#loading {
  text-align: center;
  font-size: 3vw;
  color: red;
}

#home {
  border: 2px solid black;
  height: 87vh;
  background-image: url("./images/meEating.png");
  background-size: cover;
}

#food {
  display: block;
  width: 76vw;
  padding: 4%;
  font-size: 1.4vw;
  text-align: center;
  border: 2px solid green;
  color: orange;
  background-color: green;
}

span {
  font-weight: 900;
}

body {
  background-image: url("./images/foodTracker-background.jpg");
  background-size: 100%;
}

#credit {
  position: fixed;
  bottom: 15px;
  left: 10px;
  font-size: 1.5vw;
  color: green;
  text-shadow: 1px 1px orange;
}


