nav {
  display: flex;
  margin-right: 3vw;
  width: 100vw;
  background-color: rgba(2, 102, 2, 0.918);
  position: fixed;
  top: 0;
}

nav li:hover {
  transform: scale(1.1);
  font-weight: bold;
}

li {
  display: inline-block;
  margin: 20px 2vw 2vw 10px;
  font-size: 1.7em;
  font-weight: 500;
}

#brand {
  display: inline-block;
  justify-content: flex-start;
  flex: 1;
  margin-left: 30px;
  margin-top: 3px;
  font-size: 4em;
  color: orange;
}

@media screen and (max-width: 900px) {
  li {
    font-size: 2.7vw;
  }

  #brand {
    margin-left: 30px;
    margin-top: 10px;
    font-size: 5.4vw;
  }
}

@media screen and (max-width: 600px) {
  nav {
    display: block;
  }

  ul {
    display: flex;
    justify-content: space-between;
  }

  li {
    font-size: 1.2em;
    margin: 0;
    margin-right: 30px;
  }

  #brand {
    font-size: 2.4em;
    display: block;
    width: 300px;
    text-align: center;
    margin: auto;
    margin-top: 10px;
  }
}
